
.Movie-list
  width 100vw

  h2
    margin-left 20px

  &__container
    display flex
    flex-wrap nowrap
    overflow-x auto
    -ms-overflow-style none
    scrollbar-width none
    height 550px

    &::-webkit-scrollbar
      display none

    &--grid
      display grid
      grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
      place-items: center;
      height auto



