@import '../../variables.styl'

.nav-list
  height 100%
  .nav-list__item
    margin-left 0
    margin-right 1em

  &--horizontal
    ul
      display flex

    .nav-list__item
        margin-left 1em
        margin-right 0
