@import '../variables.styl'

.Header
  display grid
  grid-template-columns auto 1fr
  align-content center
  padding 10px $layout-padding
  background-color $background
  transition all 1s
  font-size 1em

  &__brand
    a,
    a:hover
      border none
    img
      height 50px

  &__nav
    justify-self end

