// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap')
$body-font = 'Lato', sans-serif

// Colors
$primary = #0f3460
$secondary = #e94560
$background = #1a1a2e
$white = #ecebeb

// Sizing
$max-width = 1282px

// Radius
$default-radius = 10px

// Spacing
$layout-padding = 30px

// Default breakpoints
$device-xs = 480px
$device-sm = 600px
$device-md = 768px
$device-lg = 960px
$device-xl = 1280px
$device-xxl = 1920px